header {
  background-color: rgb(146, 141, 139);
  color: white;
  padding: 20px;
  text-align: center;
}

.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
  }
  
  .all-browsers > h1, .browser {
    margin: 10px;
    padding: 5px;
  }
  
  .browser {
    background: white;
  }
  
  .browser > h2, p {
    margin: 4px;
    font-size: 90%;
  }

  aside {
    width: 50%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
  }
  footer {
    background-color:  rgb(146, 141, 139);
    color: white;
    padding: 20px;
    text-align: center;
}