<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style5.css">
    <title>MY Favorite Food</title>
</head>
<body>
    <h1>Chicken Butter Masala Recipe</h1><br>
    <img src="assets/images/masterchef/Butter-Chicken.jpg" alt="Chicken Butter Masala" height="300px" width="300px">
    <h2>About Chicken Butter Masala Recipe</h2>
    <p>A creamy yet spicy chicken dish that resonates with any restaurant style chicken dish and gives an irresistible aroma of spices. A buttery chicken curry cooked with tangy tomatoes and cream. This is what we call pure pleasure.

    </p>

    <h2>Ingredients of Chicken Butter Masala</h2>
    
    
    <ul>
        <li>4 Tbsp oil</li>
        <li>100 gms butter</li>
        <li>2 tsp ginger garlic paste </li>
        <li>1/2 kg chicken (boneless cubes)</li>
        <li>300 gms tomatoes (blended)</li>
        <li>1 1/2 tsp red chilli powder</li>
        <li>1 1/2 tsp turmeric powder</li>
        <li>2 tsp curry powder</li>
        <li>to taste salt</li>
        <li>4 tbsp kasoori methi</li>
        <li>300 gms fresh cream</li>
        <li>1 ginger, julienne</li>
        <li>For garnish:</li>
        <li>Green chillies</li>
        <li>2 tbsp green coriander, chopped</li>

      </ul>
      <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
      </video>
    <h2>Instructions:</h2>  
    <ol>
    <li>Heat oil in a wok.</li>
    <li>Add ginger-garlic paste and chicken.</li>
    <li>Fry till chicken changes colour to golden brown.</li>
    <li>Add butter to chicken in the pan and then add blended tomatoes.</li>
    <li>Stir on heat for 2-3 minutes.</li>
    <li>Add red chilli powder, turmeric powder, curry powder, salt and stir lightly till oil separates. Add kasturi methi.</li>
    <li>Slowly add cream. Add ginger juliennes and cover with lid for few minutes.</li>
    <li>Garnish with green chillies, green coriander and serve with boiled rice.</li>
  
  </ol>
  <footer>
    <p>&copy;2023 My Web Page</p>
    <p><a href="#">kishorelee935@gmail.com</a></p>
  </footer>
</body>
</html>