<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/project/assets/css/portfolio1.css">
</head>
<body>
    <!--home-->
    <header>
    <div class="header" id="homesec">
    
     <nav>   
        <h1>Kishorekumar Mathes</h1> 
    <ul>
        <li><a href="#homesec">Home</a></li>
        <li><a href="#aboutsec">About</a></li>
        <li><a href="#contact-us">Contact us</a></li>
        <li><a href="#skills_sec">Skills</a></li>
    </ul>
</nav>
<div class="H_content">
    
    <h2>I am a Full Stack Developer</h2>
</div>
</div>
</header>
<!--about-->
<section id="aboutsec">
    <div class="About_me">
    <div class="A_img">
        <img src="/project/assets/images/portofolio/about_me.jpg" width="500px" height="300px">
    </div>
    
    <div class="A_content">
      
        <h3>Full Stack Developer</h3>
       <p> I am a web developer with a vast array of knowledge in many different front end and back end languages, responsive frameworks, databases, and best code practices. My objective is simply to be the best web developer that I can be and to contribute to the technology industry all that I know and can do.</p>
       <button><a href="#">Let's chat</a></button>
    </div>
    
    
</div>
</section>
<!--skills-->
<div class="skills" id="skills_sec">
    <h1>SKILLS</h1>
    <div class="container">
        <div class="card">
        <h1>HTML</h1>
        </div>

        <div class="card">
        <h1>CSS</h1>
        </div>

        <div class="card">
        <h1>JavaScript</h1>
        </div>

        <div class="card">
        <h1>Bootstrap</h1>
        </div>
        <div class="card">
            <h1>Python</h1>
            </div>
    </div>
</div>
<!--contact us-->
<div class="contact-box" id="contact-us">
<h1>Contact us</h1>
<div class="contact">
    
    <div class="left-c">
        <h2>call directly</h2>
        <h2>Address</h2>
        <Address>
            Mr. Phillips Gaillard,<br>
            Gunnersbury House, 1 Chapel Hill,<br>
            London.<br>
            phone no:+44 7975777666<br>
            email: Kishorelee935@gmail.com
        </Address>
      
    </div>
    <div class="right-c">
        <h2>send me a message</h2>
        <div class="input">
         <form>
            <label>Name</label>
            <div class="u-name">
                <input type="text" placeholder="enter your name">
               </div>
             <label>Email</label>  
            <div class="email1">
                <input type="email" placeholder="enter your mail">
               </div>
              <label>Message</label> 
            <div class="msg">
            <textarea rows="5" placeholder="type your message here"></textarea>
            </div>
            <div class="submit">
             <input type="submit">
            </div>
         </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
